# $Header: $
#
# USDA Forest Service CM431 TMR Upgrade
# For TMR's already upgraded to CM431 from CM423
#
# TYPE : TMR
#
# Format:
#   relative/path/to/filename.IND   # Comments
#

#
# FWK431 Upgrade
#
./fwk431upgrade/TMF_431/TMF_431.IND		# Tivoli Management Framework Upgrade to Version 4.3.1  (build 11/19)
./fwk431inst2of2/JAVA/JRE142.IND		# Java 1.4.2 for Tivoli
./fwk431inst2of2/JAVA/JHELP41.IND		# JavaHelp 1.0 for Tivoli 4.1
./fwk431inst2of2/JAVA/JCF.IND			# Tivoli Java Client Framework 4.3.1
./fwk431inst2of2/JAVA/JRIM.IND			# Tivoli Java RDBMS Interface Module (JRIM) 4.3.1
./fwk431inst2of2/SSL/SSLA.IND			# Tivoli Management Framework SSLA Version 1.3
./fwk431inst2of2/SSL/SSLA_UPG.IND		# Tivoli Management Framework SSLA Version 1.3
./fwk431upgrade/md2g431u.image/MD2G431U.IND	# Distribution Status Console Upgrade to Version 4.3.1

#
# CM431 Upgrade
#
./cm431_/MCOLLECT/MCOLLECT.IND	# Scalable Collection Service, Version 4.3.1
./cm431upgrade/INVENTORY/431_423I.IND	# Inventory Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/INVENTORY/431_423G.IND	# Inventory Gateway Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/SWDISU.IND	# Software Distribution Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/SWDGWU.IND	# Software Distribution Gateway Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/SWDJPSU.IND	# Software Distribution Software Package Editor Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/APMU.IND	# Activity Planner Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/CCMU.IND	# Change Manager Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/WEBUIU.IND	# Web Interface Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/QRYDIRU.IND	# Directory Query Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/TRMU.IND	# Resource Manager Upgrade, Version 4.2.3 to 4.3.1
#./cm431upgrade/SWD/CMEXTU.IND	# CM Endpoint Extension Upgrade, Version 4.2.3 to 4.3.1
#./cm431upgrade/SWD/TLMEXTU.IND	# CM Extension for Tivoli License Manager Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/TRMGWU.IND	# Resource Manager Gateway Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/PRIU.IND	# Pristine Manager Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/PTCHMGTU.IND	# Patch Management Upgrade, Version 4.2.3 to 4.3.1
#./cm431upgrade/SWD/TPOSDU.IND	# Tivoli Provisioning Manager for Operating System Deployment integration Upgrade, Version 4.2.3 to 4.3.1
#./cm431upgrade/SWD/ADIENGU.IND	# Query Directory for Microsoft Active Directory Upgrade, Version 4.2.3 to 4.3.1
#./cm431upgrade/SWD/ADICLIU.IND	# Query Directory for Microsoft Active Directory - Command Line Interface Upgrade, Version 4.2.3 to 4.3.1
./cm431upgrade/SWD/PRIGWU.IND	# Pristine Manager Gateway Upgrade, Version 4.2.3 to 4.3.1

#
# FWK431 Patches
#
./431TMF05/431TMF05.IND         # Tivoli Framework Patch 4.3.1-TMF-0005  (build 11/23)
./431LCF02/431LCF02.IND         # Tivoli Framework Patch 4.3.1-LCF-0002  (build 09/23)

#
# CM431 Fix Pack 1
#
./cm431fp01/cd1/images/MCOLLECT/CLLFP1.IND   # Scalable Collection Service, Version 4.3.1, Fix Pack 4.3.1-TIV-CLL-FP0001 (U829862 - 2009/10)
./cm431fp01/cd1/images/INVENTORY/INVFP1.IND  # Inventory, Version 4.3.1, Fix Pack 4.3.1-TIV-INV-FP0001 (U829862 - 2009/10)
./cm431fp01/cd1/images/INVENTORY/LCFFP1.IND      # Inventory Gateway, Version 4.3.1, Fix Pack 4.3.1-TIV-INVGW-FP0001  (U829862 - 2009/10)
./cm431fp01/cd1/images/SWD/APMFP1.IND         # Activity Planner, Version 4.3.1, Fix Pack 4.3.1-TIV-APM-FP0001 (U829862 - 2009/10)
./cm431fp01/cd1/images/SWD/SWDFP1.IND         # Software Distribution, Version 4.3.1, Fix Pack 4.3.1-TIV-SWDSRV-FP0001 (U829862 - 2009/10)
./cm431fp01/cd1/images/SWD/SDGWFP1.IND        # Software Distribution Gateway, Version 4.3.1, Fix Pack 4.3.1-TIV-SWDGW-FP0001 (U829862 - 2009/10)
./cm431fp01/cd1/images/SWD/SWDISJPS.IND       # Software Distribution Software Package Editor V. 4.3.1,Fix Pack 4.3.1-TIV-SWDJPS-FP0001(U829862 - 2009/10)
#./cm431fp01/cd1/images/SWD/TLMXTFP1.IND       # CM Extension for Tivoli License Manager, Version 4.3.1, Fix Pack 4.3.1-TIV-TLMEXT-FP0001 (U829862 - 2009/10)
#./cm431fp01/cd1/images/SWD/PMGFP1.IND         # Patch Management, Version 4.3.1, Fix Pack 4.3.1-TIV-PMG-FP0001 (U829862 - 2009/10)


###  end  ###
